<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <!-- List of Text Items -->
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <!-- <img
          src="{{bucketUrl}}/cat{{item.id}}.jpg"
        /> -->
        <img
        src="../../assets/cat{{item.id}}.jpg"
      />
      </ion-thumbnail>
      <ion-label>{{item.nome}}</ion-label>
      
    </ion-item>
  </ion-list>
</ion-content>
